doctype html
html
  head
    title Wibe-Dance-Academy
    block scripts
    block style
  body    
    nav#navbar
      ul
        div#logo
          img(src='/static/logo.png')
          div.logo HDA
        li
          a(href='/') Home
        li
          a(href='/') About us
        li
          a(href='/') Services
        li
          a(href='/') Class info
        li
          a(href='/contact') Contact us
          
    block content 
    footer#footer
      |  Copyright &copy; 2024 WibeDanceAcademy.com | All rights reserved

      